
body {
    background-color: azure;
    margin: 0;
    
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e97fe4;
    outline: #333;
}

#heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
#menu{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
li {
    float: left;
    border-right: 1px solid #bbb;
}
li:last-child{
    border-right:none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
/* cant get this to work -- want to have it change colors when clicked. see https://www.w3schools.com/css/css_navbar_horizontal.asp
li a.active{
    background-c;
}*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#333;
    overflow: hidden;
 /* position: -webkit-sticky;
    position: sticky;
    top:0;*/
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    ul li.right, 
    ul li {float: none;}
  }


/* 

--------------------PHOTO GRID STYLE--------------------

*/
*{box-sizing: border-box;

}
.row{
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap;
    padding: 0 4px;
}
.column{
    -ms-flex: 25%;
    flex:25%;
    max-width: 25%;
    padding: 0 4px;
    
    
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media  and (max-width:880px) {
    .column{
        -ms-flex: 50%;
        flex: 50%;
        max-width:50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
     }
}

-------------------PHOTO GRID 2--------------------
*{box-sizing: border-box;
    
}

.row2{
    display: -ms-flexbox; /*IE10*/
    display: flex;
    -ms-flex-wrap: wrap;
    padding: 0 4px;
}
.column2{
    -ms-flex: 25%;
    flex:25%;
    max-width: 25%;
    padding: 0 10px;
}
.column2 img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media  and (max-width:880px) {
    .column2{
        -ms-flex: 50%;
        flex: 50%;
        max-width:50%;
    }
}
@media screen and (max-width: 600px) {
    .column2 {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
     }
}


/**--------BACK TO TOP ----------**/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: aqua; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }



  /*-------------ROAD TRIP PAGE -----------------*/

/*class is trip1 and photots*/

h5 {
    padding: 20px;
}

img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 20px;
        width: 800px;
       
}

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */

}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  height: 30%;
  padding-left: 20px; /* Some padding */
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 20px;

}